.btn {
    padding: 10px;
    background-color: #B1A296;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.box {
    background-color: #c9beb6;
    border-radius: 25px;
    align-self: center;
    opacity: .7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 150px;
}

body {
    background-image: url(backgr1.jpg);
    background-size: cover;
}
.left{
    text-align: left;
}